*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: silver;
    padding: 20px;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    margin: 0 auto;

}
input{
    border: 2px solid teal;
    font-size: 20px;
    height: 40px;
    width: 500px;
    padding-left: 5px;
}
#create_button{
    width: 200px;
    height: 40px;
    border: 2px solid teal;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    font-size: 22px;
}
#todo__list{
    align-items: center;
    width: 750px;
    margin: 20px auto;
}
.block_text{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid teal;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btns{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    width: 60px;
    border-radius: 5px;
    border: 2px solid teal;
}
